<div class="h-full flex justify-center items-center">
  <form class="mat-elevation-z1 p-6" [formGroup]="formGroup" (ngSubmit)="onResetPassword()">
    <h1 class="text-3xl font-bold mb-6">Reset Password</h1>
    <div class="min-w-[20rem] mb-2.5">
      <mat-form-field class="w-full">
        <mat-label>Enter your new password</mat-label>
        <input [type]="passwordInputType" matInput formControlName="password">
        <button mat-icon-button matSuffix type="button" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordHidden" (click)="onTogglePasswordVisibility()">
          <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormControl.hasError('required')">* Required</mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('pattern')">Invalid password</mat-error>
      </mat-form-field>
    </div>
    <div class="min-w-[20rem] mb-2.5">
      <mat-form-field class="w-full">
        <mat-label>Confirm your new password</mat-label>
        <input [type]="passwordInputType" matInput formControlName="confirmPassword">
        <button mat-icon-button matSuffix type="button" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isPasswordHidden" (click)="onTogglePasswordVisibility()">
          <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">* Required</mat-error>
        <mat-error *ngIf="confirmPasswordFormControl.hasError('pattern')">Invalid password</mat-error>
        <mat-error *ngIf="formGroup.hasError('passwordsNotMatch')">Password not match</mat-error>
      </mat-form-field>
    </div>
    <div class="flex justify-between items-center">
      <a class="text-primary" [routerLink]="NavigationRoutes.AuthLogin">Return to Login</a>
      <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">
        Reset Password
      </button>
    </div>
  </form>
</div>
